/* importing google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  color: #22054f;
  background-color: blue;
  background-image: linear-gradient(217deg, #d91c74, #074dd9),
    linear-gradient(90deg, #994ced, #ffff);
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* background-size: cover; */
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.start_btn,
.info_box,
.quiz_box,
.result_box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.77); */
}

.start_btn {
  top: 70%;
}

.info_box.activeInfo,
.quiz_box.activeQuiz,
.result_box.activeResult {
  opacity: 1;
  z-index: 5;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}

body {
  display: grid;
  grid-template-columns: 15% auto 15%;
  gap: 1rem;
}
.quiz_name {
  grid-column: 2;
  text-align: center;
  font-size: 6rem;
  margin-top: 6rem;
  line-height: 6.5rem;
  color: rgba(255, 255, 255, 0.9);
}

.start_btn button {
  font-size: 2rem;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.9);
  padding: 1.5rem 4rem;
  outline: none;
  border: none;
  border-radius: 100px;
  background: #fb0ae8;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.start_btn button:hover {
  transform: scale(1.02);
  transition: transform 100ms;
}

.info_box {
  width: 540px;
  background: rgba(255, 255, 255, 0.18);
  border-radius: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  backdrop-filter: blur(5px);
  transform: translate(-50%, -50%) scale(0.9);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.info_box .info-title {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 2rem;
  margin-top: 1rem;
  border-radius: 5px 5px 0 0;
  font-size: 1.5rem;
  font-weight: 600;
}

.info_box .info-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0.5rem 2rem;
}

.info_box .info-list .info {
  margin: 0.2rem 0;
  font-size: 1rem;
  list-style-type: none;
}

ul li::before {
  content: attr(data-icon);
  font-size: 1rem;
  margin-right: 0.5rem;
}

.info_box .info-list .info span {
  font-weight: 600;
}

.info_box .buttons {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 3.5rem;
}

.info_box .buttons button {
  margin: 0 0.3rem;
  height: 40px;
  width: 110px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 100px;
  border: 2px solid #fb0ae8;
  transition: all 0.3s ease;
  box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.1);
}

.quiz_box {
  width: 550px;
  background: rgba(255, 255, 255, 0.18);
  border-radius: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  backdrop-filter: blur(5px);
  transform: translate(-50%, -50%) scale(0.9);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.quiz_box header {
  position: relative;
  z-index: 2;
  height: 70px;
  padding: 0 2rem;
  border-radius: 16px 16px 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.quiz_box header .title {
  font-size: 1.5rem;
  font-weight: 600;
}

.quiz_box header .timer {
  color: rgba(255, 255, 255, 0.9);
  border: none;
  height: 45px;
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: #fb0ae8;
  border-radius: 16px;
  padding: 0 1rem; */
}

.quiz_box header .timer .time_left_txt {
  font-weight: 500;
  font-size: 1rem;
  user-select: none;
}

.quiz_box header .timer .timer_sec {
  font-size: 1rem;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.9);
  /* line-height: 30px; */
  text-align: center;
  user-select: none;
}

.quiz_box header .time_line {
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 4px;
  background: #eda056;
}

section {
  padding: 1.8rem 2rem 1.5rem 2rem;
}

section .que_text {
  font-size: 1.5rem;
  font-weight: 600;
}

section .option_list {
  padding: 1.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section .option_list .option {
  color: rgba(255, 255, 255, 0.9);
  background: #672ab7;
  border: 0.2rem solid #672ab7;
  border-radius: 100px;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

section .option_list .option:last-child {
  margin-bottom: 0px;
}

section .option_list .option:hover {
  background: #eda056;
  border: 0.2rem solid #eda056;
  transform: scale(1.02);
  transition: transform 100ms;
}

section .option_list .option.correct {
  color: #4bc0c8;
  background: rgba(255, 255, 255, 0.9);
  border: 0.2rem solid #4bc0c8;
}

section .option_list .option.incorrect {
  color: #fb0ae8;
  background: rgba(255, 255, 255, 0.9);
  border: 0.2rem solid #fb0ae8;
}

section .option_list .option.disabled {
  pointer-events: none;
}

/* section .option_list .option .icon {
  height: 26px;
  width: 26px;
  border: 2px solid transparent;
  border-radius: 50%;
  text-align: center;
  font-size: 13px;
  pointer-events: none;
  transition: all 0.3s ease;
  line-height: 24px;
} */
/* .option_list .option .icon.tick {
  color: #23903c;
  border-color: #23903c;
  background: #d4edda;
}

.option_list .option .icon.cross {
  color: #a42834;
  background: #f8d7da;
  border-color: #a42834;
} */

footer {
  height: 60px;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer .total_que span {
  display: flex;
  user-select: none;
}

footer .total_que span p {
  font-weight: 500;
  padding: 0 0.2rem;
}

footer .total_que span p:first-child {
  padding-left: 0;
}

footer button {
  height: 40px;
  padding: 0 1rem;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
  border: none;
  outline: none;
  color: rgba(255, 255, 255, 0.9);
  border-radius: 100px;
  background: #fb0ae8;
  line-height: 10px;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.95);
  transition: all 0.1s ease;
  border: 2px solid #fb0ae8;
}

footer button:hover {
  background: #fb0ae8;
}

.next_btn:hover {
  color: #fb0ae8;
  background: rgba(255, 255, 255, 0.9);
  border: 2px solid #fb0ae8;
}

footer button.show {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
}

.result_box {
  background: rgba(255, 255, 255, 0.18);
  border-radius: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  backdrop-filter: blur(5px);
  display: flex;
  padding: 1.8rem 2rem;
  width: 450px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  transform: translate(-50%, -50%) scale(0.9);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.result_box .icon img {
  margin-bottom: 1rem;
}

.result_box .complete_text {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
}

.result_box .score_text span {
  display: flex;
  margin: 1.5rem 0;
  font-size: 1.2rem;
  font-weight: 500;
}

.result_box .score_text span p {
  padding: 0 0.2rem;
  font-weight: 800;
}

.result_box .buttons {
  display: flex;
  margin: 2rem 0;
}

.result_box .buttons button {
  margin: 0 0.5rem;
  height: 45px;
  padding: 0 2rem;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 100px;
  border: 2px solid #fb0ae8;
  transition: all 0.3s ease;
}

.buttons button.restart {
  color: rgba(255, 255, 255, 0.9);
  background: #fb0ae8;
}

.buttons button.restart:hover {
  background: #fb0ae8;
}

.buttons button.quit {
  color: #fb0ae8;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(5px);
}

.buttons button.quit:hover {
  color: rgba(255, 255, 255, 0.9);
  background: #fb0ae8;
}
