.info_box,
.quiz_box,
.result_box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.info_box.activeInfo,
.quiz_box.activeQuiz,
.result_box.activeResult {
  opacity: 1;
  z-index: 5;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}

/* info box */
.info_box {
  width: 540px;
  @include glass-box();
  transform: translate(-50%, -50%) scale(0.9);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.info_box .info-title {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 2rem;
  margin-top: 1rem;
  border-radius: 5px 5px 0 0;
  font-size: 1.5rem;
  font-weight: 600;
}

.info_box .info-list {
  @include flex-content-column-justify();
  align-items: flex-start;
  padding: 0.5rem 2rem;
}

.info_box .info-list .info {
  margin: 0.2rem 0;
  font-size: 1rem;
  list-style-type: none;
}

ul li::before {
  content: attr(data-icon);
  font-size: 1rem;
  margin-right: 0.5rem;
}

.info_box .info-list .info span {
  font-weight: 600;
}

.info_box .buttons {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 3.5rem;
}

.info_box .buttons button {
  margin: 0 0.3rem;
  height: 40px;
  width: 110px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: $border-radius-button;
  border: 2px solid $hot-pink;
  transition: all 0.3s ease;
  box-shadow: $info-result-box-buttons;
}

/* quiz box */
.quiz_box {
  width: 550px;
  @include glass-box();
  transform: translate(-50%, -50%) scale(0.9);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.quiz_box header {
  position: relative;
  z-index: 2;
  height: 70px;
  padding: 0 2rem;
  border-radius: 16px 16px 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.quiz_box header .title {
  font-size: 1.5rem;
  font-weight: 600;
}

.quiz_box header .timer {
  color: $white;
  border: none;
  height: 45px;
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.quiz_box header .timer .time_left_txt {
  font-weight: 500;
  font-size: 1rem;
  user-select: none;
}

.quiz_box header .timer .timer_sec {
  font-size: 1rem;
  font-weight: 500;
  color: $white;
  /* line-height: 30px; */
  text-align: center;
  user-select: none;
}

.quiz_box header .time_line {
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 4px;
  background: $orange;
}

/* question section */
section {
  padding: 1.8rem 2rem 1.5rem 2rem;
}

section .que_text {
  font-size: 1.5rem;
  font-weight: 600;
}

section .option_list {
  padding: 1.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section .option_list .option {
  color: $white;
  background: $dark-purple;
  border: 0.2rem solid $dark-purple;
  border-radius: $border-radius-button;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

section .option_list .option:last-child {
  margin-bottom: 0px;
}

section .option_list .option:hover {
  background: $orange;
  border: 0.2rem solid $orange;
  transform: scale(1.02);
  transition: transform 100ms;
}

section .option_list .option.correct {
  color: $bright-blue;
  background: $white;
  border: 0.2rem solid $bright-blue;
}

section .option_list .option.incorrect {
  color: $hot-pink;
  background: $white;
  border: 0.2rem solid $hot-pink;
}

section .option_list .option.disabled {
  pointer-events: none;
}

/* footer of question box */
footer {
  height: 60px;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer .total_que span {
  display: flex;
  user-select: none;
}

footer .total_que span p {
  font-weight: 500;
  padding: 0 0.2rem;
}

footer .total_que span p:first-child {
  padding-left: 0;
}

footer button {
  height: 40px;
  padding: 0 1rem;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
  border: none;
  outline: none;
  color: $white;
  border-radius: 100px;
  background: $hot-pink;
  line-height: 10px;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.95);
  transition: all 0.1s ease;
  border: 2px solid $hot-pink;
}

footer button:hover {
  background: $hot-pink;
}

.next_btn:hover {
  color: $hot-pink;
  background: $white;
  border: 2px solid $hot-pink;
}

footer button.show {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
}
